.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 8px 8px;
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit", sans-serif;
    border-radius: 4px;
    color: hsl(0, 0%, 7%);
}
.attribution a { 
    color: hsl(0, 0%, 42%);
}
.blog-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 8px 8px rgb(0, 0, 0);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(47, 88%, 63%);
}
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.blog-image {
    display: block;
    margin: 15px;
    border-radius: 10px;
}
.blog-title-container {
    margin: 0 0 0 20px;
}
.blog-category {
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 4px;
    font-family: "Outfit", sans-serif;
}
.blog-date {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    margin: 5px 0 15px 0;
    font-family: "Outfit", sans-serif;
}
.blog-title {
    font-size: 22px;
    margin: 0 0 15px 0;
    color: hsl(0, 0%, 7%);
    font-family: "Outfit", sans-serif;
}
.blog-description {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    padding: 0 20px 20px 20px;
    margin: 0;
    font-family: "Outfit", sans-serif;
}
.blog-author {
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.author-name {
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}